
ul.simplelist {
    list-style-type:none;
    margin: 0;
    padding-left: 0em;
}

.simplelist li {
    padding-left: 2em;
    text-indent: -2em;
    list-style: none;
    margin: 0;
}

.smallcaps {
    font-variant-caps: all-small-caps;
    font-variant-numeric: oldstyle-nums;
}

.spaced {
    letter-spacing: 2px;
}

.paddedright {
    padding-right: 1em;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    padding: 8px 12px;
    z-index: 1;
}

.onlyhover {
    display: none;
}

.dropdown:hover .onlyhover {
    display: inline-block;
}

.dropdown:hover .onlynormal {
    display: none;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.floated {
    float: right;
}

th {
    text-align: left;
    font-weight: normal;
    border-bottom: 2px solid black;
    padding-right: 15px;
}

td {
    text-align: right;
    padding-right: 15px;
}

td:last-child, th:last-child {
    padding-right: 0px;
}

table {
    border-spacing: 0;
}

.centered {
    text-align: center;
}

.small {
    font-size: smaller;
}
